*.swp
*o.cmd
*.[oa]
b3dfg.ko
b3dfg.mod.c
Module.symvers
.tmp_versions/
modules.order
user/b3dfgstress
user/b3dfgtest
user/b3dfgutil
*.tar.gz
*.tar.bz2
*.orig
design/design.*
!design/design.tex
libb3dfg/examples/capture_frames*
libb3dfg/examples/poll
libb3dfg/examples/poll2
libb3dfg/examples/test

